/*============Généralités============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
.wrapper {
  position: relative;
}
.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
/*Smartphones */
@media only screen and (max-device-width: 767px) {
  .container {
    flex-direction: column;
  }
}
/*============Titres et en-têtes de section============*/
h1 {
  font-size: 3em;
  margin-bottom: 30px;
}
/*Smartphones */
@media only screen and (max-device-width: 767px) {
  h1 {
    font-size: 2em;
  }
}
/*Tablette*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #home {
    height: 70vh;
  }
  h1 {
    font-size: 2em;
  }
  .frontpage .social {
    display: block;
  }
}
article.titre {
  text-align: center;
  width: 40%;
  margin: auto;
  padding-bottom: 50px;
}
/*Smartphones */
@media only screen and (max-device-width: 767px) {
  article.titre {
    margin: 0;
    width: 100%;
  }
}

h2 {
  font-size: 1.5em;
  margin: 0;
}
h2 + p {
  font-size: 1em;
  color: rgb(173, 168, 168);
}

h3 {
  font-size: large;
}
h3 + p {
  color: rgb(173, 168, 168);
}
/*============Bouton persistant en bas à droite pour remonter en haut de la page============*/
.scrolltotop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(53, 52, 52);
  justify-content: center;
  padding: 10px;
  margin: 5px;
  color: white;
  z-index: 50;
  font-size: 1.5em;
}
/*============Lien vers le contenu pour l'accessibilité============*/
.skip-link {
  position: absolute;
  height: 1px;
  width: 1px;
  display: flex;

  background-color: transparent;

  color: transparent;
}
/*============Ecran d'accueil du site============*/
.frontpage {
  background: radial-gradient(rgb(139, 195, 245), #1294b8);
  height: 100vh;
}

/*==========En-tête de l'accueil=======*/
.frontpage ul {
  display: flex;
  list-style: none;
  align-items: center;
  padding-left: 150px;
  gap: 10px;
}
/*Tablette*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .frontpage ul {
    padding: 1px 1px 0 0;
    gap: 0;
  }
}
/*Tablette*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  header {
    width: 100vw;
  }
}
/*Smartphones */
@media only screen and (max-device-width: 767px) {
  header {
    width: 100%;

    text-align: center;
  }
  nav {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .social li {
    display: none;
  }
}

nav {
  position: relative;
  display: flex;
}

/*=========Les liens listés en nav(hors logo)=======*/
nav li > a {
  border-radius: 10px;
  padding: 0 3px;
  font-size: 0.9em;
}
nav li > a:hover {
  background-color: rgb(139, 195, 245);
}

@media only screen and (max-device-width: 767px) {
  nav li > a {
    font-size: 0.7em;
    border: 1px solid rgb(139, 195, 245);
  }
}
.logo {
  margin-left: 200px;
  font-size: 1.8em;
  font-weight: 800;
  text-decoration: none;
}
/*MENU BURGER*/
.topnav ul {
  position: absolute;
  left: 100%;
}
.burger {
  display: none;
}
.topnav .icon {
  display: none;
}
@media only screen and (max-device-width: 767px) {
  .logo {
    margin: 0;
    padding-left: 20px;
  }
  .topnav li {
    display: none;
  }
  .frontpage ul {
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  .topnav .icon {
    display: block;
    margin: auto;
  }
  .topnav.responsive .burger {
    display: block;
  }
  .topnav.responsive .icon {
    display: none;
  }
  .topnav.responsive li {
    display: block;
    text-align: left;
  }
}
/*Tablette*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .logo {
    font-size: 1.1em;
    padding-bottom: 20px;
  }

  .social {
    font-size: 0.9em;
  }
  #features {
    padding: 0;
  }
  #features .container {
    padding: 0;
    gap: 10px;
  }
  .featurescard {
    padding: 0;
  }
}
.social {
  padding-right: 50px;
}
header,
a {
  display: flex;
  justify-content: space-between;
  color: white;
  text-decoration: none;
  font-size: 1.3em;
}
/*======Section Principale de l'accueil======*/
#home {
  height: 50vh;
  display: flex;
  justify-content: center;
  padding: 5% 10%;
  gap: 30px;
}
/*Tablette*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  header {
    display: flex;
    flex-direction: column;
  }
  header a {
    justify-content: start;
  }
  #home {
    display: block;
  }
  .logo {
    margin-right: 0;
  }
}

/*=====Partie gauche de la section principale de l'accueil=====*/
.homegauche {
  display: block;
  width: 500px;
  height: 700px;
}
/*Smartphones */
@media only screen and (max-device-width: 767px) {
  .homegauche {
    height: 30%;
    width: 100%;
  }
}
/*Tablette*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .homegauche {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
  }
}
.homegauche p {
  font-size: 1.2em;
}
/*Formulaire Mail*/
.newsletter {
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 999px;
  padding: 4px;
  margin-top: 30px;
  width: 100%;
}

.newsletter input[type="email"] {
  border: none;
  padding: 10px 16px;
  font-size: 1em;
  border-radius: 999px 0 0 999px;
  width: 100%;
}

.newsletter button {
  border: none;
  background: #1294b8;
  color: white;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: bold;
  border-radius: 999px;
  cursor: pointer;
  transition: 1s;
}
.newsletter button:hover {
  background: rgb(139, 195, 245);
}
/*Partie droite de la section principale de l'accueil*/
#home figure {
  width: 600px;
}
/*Smartphones */
@media only screen and (max-device-width: 767px) {
  #home figure {
    display: none;
  }
}

/*============Marges pour délimiter les sections============*/
section {
  padding: 50px;
}
/*============Cartes " Features "============*/

.featurescard {
  background: radial-gradient(rgb(139, 195, 245), #1294b8);
  width: 300px;
  height: 300px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
  transition: 0.5s;
}
/*Smartphones */
@media only screen and (max-device-width: 767px) {
  .featurescard {
    width: 100%;
  }
}
.featurescard:hover {
  transform: translateY(-20px);
}
.featurescardheader {
  display: flex;
  margin: auto;
  padding-top: 15px;
  justify-content: center;
  text-align: center;
  height: 50%;
  width: 100%;
  font-size: 1.4em;
}
.featurescardheader figure i {
  font-size: 2em;
  padding-bottom: 30px;
}
.featurescardheader figcaption h3 {
  font-weight: 500;
  font-size: 0.9em;
}
.featurescardtext {
  font-size: 1em;
  text-align: center;
  padding-top: 20px;
}
.featurescardtext p {
  font-size: 0.9em;
}

/*============Cartes " Team "============*/
.teamcard {
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .teamcard {
    margin: 0;
  }
}
.headerteamcard {
  text-align: center;
}
.headerteamcard h2 {
  font-size: 1.5em;
}
.headerteamcard p {
  font-size: 1em;
}
.headerteamcard h2,
.headerteamcard p {
  margin: 0;
}
.portraitteamcard {
  position: relative;
  display: flex;
  padding-top: 15px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: 0.5s;
}
.portraitteamcard:hover {
  scale: 1.1;
}
.portraitteamcard img {
  border-radius: 50%;
  max-height: 175px;
  width: auto;
  object-fit: cover;
  filter: grayscale(100%);
  transition: 0.5s;
}
.teamsocial {
  position: absolute;
  list-style: none;
  top: -25px;
  left: -35px;
  transition: 0.5s;
}
.teamsocial a {
  color: black;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  margin: 5px 0;
}
.portraitteamcard:hover .teamsocial {
  top: 60px;
  left: 20px;
}

.portraitteamcard figcaption {
  text-align: center;
}
.portraitteamcard figcaption p {
  text-align: center;
  color: rgb(173, 168, 168);
  font-size: 1em;
}
.teamcard:hover .portraitteamcard img {
  filter: grayscale(0);
}
/*============Section Parallax============*/
#cta {
  text-align: center;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("img/parallax.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;

  color: white;
  padding: 80px 20px;
  text-align: center;
}
/*Smartphones */
@media only screen and (max-device-width: 767px) {
  #cta {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("img/parallaxtel.png");
  }
}
/*TABLETTE*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #cta {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("img/parallaxtab.png");
    background-position-y: center;
  }
}
#cta h2 {
  padding: 30px 0;
  width: fit-content;
  margin: auto;
}
#cta p {
  color: white;
  justify-content: center;
  font-size: 1em;
  max-width: 800px;
  margin: auto;
}
.btn {
  padding: 10px 30px;
  justify-content: center;
  width: fit-content;
  margin: 50px auto;
  border: 1px solid white;
  border-radius: 5px;
  transition: 0.5s;
}
.btn:hover {
  color: rgba(0, 0, 0, 0.6);
  background-color: white;
  transform: translateY(-15px);
}
/*============Cartes " Blog "============*/

.blogcard {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  font-size: 1em;
}
/*Smartphones */
@media only screen and (max-device-width: 767px) {
  .blogcard {
    height: 60vh;
    width: 100%;
    padding: 0;
  }
  #blog {
    padding: 0;
  }
  #blog .container {
    padding: 0;
    width: 100%;
    padding: 20px;
  }
  .headerblog {
    width: 100%;
    object-fit: cover;
  }
}
/*TABLETTE*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #blog .container {
    display: flex;
    flex-direction: column;
  }
  .blogcard {
    width: 100%;
    padding: 0;
  }

  #blog article {
    padding-left: 20px;
  }
  #blog article p {
    font-size: 1em;
  }
  #blog h3 {
    font-size: 1.6em;
    width: 100%;
    padding-bottom: 30px;
  }
  #blog a {
    position: absolute;

    bottom: 0;
  }
  .headerblog {
    display: flex;
    min-width: fit-content;
  }
}

.headerblog {
  position: relative;

  width: 400px;
  height: 275px;
}
.author {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 30px;
  font-size: 1em;
  list-style: none;
  color: transparent;
  top: 30px;
  left: 15px;
  transition: 1s;
}
.headerblog img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}
.blogcard:hover .headerblog img {
  filter: brightness(50%);
}
.blogcard:hover .author {
  color: white;
}
#blog a {
  color: #1294b8;
  width: fit-content;
  margin-bottom: 25px;
  font-size: 1em;
}
/*============Pricing============*/
#pricing {
  margin-top: 100px;
}
/*TABLETTE*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #pricing {
    padding: 0;
  }
  .pricingfront {
    padding: 20px;
  }
  #pricing article {
    text-align: center;
    margin: auto;
  }
  .containerpricingtable {
    max-width: 100vw;
    gap: 3px;
  }
}
@media only screen and (max-device-width: 767px) {
  #pricing {
    padding: 0;
  }
}
/*============En-tête Pricing============*/
.pricingfront {
  display: flex;
  justify-content: center;
  gap: 5%;
}
@media only screen and (max-device-width: 767px) {
  .pricingfront {
    padding: 20px;
  }
}
.pricingfront img {
  height: 350px;
}
/*Smartphones */
@media only screen and (max-device-width: 767px) {
  .pricingfront img {
    display: none;
  }
}
/*======Partie gauche de l'en-tête Pricing=======*/
.frontleft {
  display: block;
  max-width: 550px;
}
.frontleft h2 {
  font-size: 1.5em;
  padding-bottom: 30px;
}
.frontleft p {
  font-size: 1em;
  padding-bottom: 30px;
}
.statpricing {
  display: flex;

  align-items: center;
  gap: 20px;
}
.statpricing h3 {
  margin: 0;
}
.statpricing p {
  margin-top: 3px;
}
.pricingbutton {
  color: white;
  background-color: dodgerblue;
  border: none;
  padding: 5px 25px;
  border-radius: 5px;
  font-size: 1em;
  margin: 10px 30px;
  width: max-content;
}
/*==========Cartes des prix===========*/
.containerpricingtable {
  background-color: whitesmoke;
  width: 1100px;
  padding: 30px;
  margin: auto;
  gap: 10px;
}
/*Smartphones */
@media only screen and (max-device-width: 767px) {
  .containerpricingtable {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }
}
@media only screen and (max-device-width: 767px) {
  .containerpricingtable > article.titre p {
    margin-bottom: 0;
  }
}
.containerpricingtable > article.titre p {
  padding-bottom: 0;
}
.containerpricingcard {
  display: flex;
  gap: 6%;
  justify-content: center;
}
/*Smartphones */
@media only screen and (max-device-width: 767px) {
  .containerpricingcard {
    flex-direction: column;
    width: 100%;
  }
}

.pricingcard,
.pricingcardprom {
  position: relative;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 30px 0;
  margin: 30px 0;
  width: 280px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
/*Smartphones */
@media only screen and (max-device-width: 767px) {
  .pricingcard,
  .pricingcardprom {
    width: 100%;
    padding: 20px;
    margin-bottom: 40px;
  }
}

p.price {
  color: dodgerblue;
  font-size: 2em;
}
small {
  font-size: 0.5em;
  color: rgb(88, 85, 85);
}
.pricingcard > ul,
.pricingcardprom > ul {
  text-align: start;
}
.pricingcard > ul > li,
.pricingcardprom > ul > li {
  display: flex;

  padding: 10px;
  font-size: 0.9em;
}
span {
  margin-left: auto;
}
.valid,
.invalid {
  list-style: none;
  margin: 0;
}
.valid::before {
  content: url("img/check.svg");
  width: 20px;
  height: 20px;

  margin: 0;
}
.invalid::before {
  content: url("img/cross.svg");
  width: 20px;
  height: 20px;
  margin: 0;
}
.join {
  width: 80%;
  height: 35px;
  background-color: dodgerblue;
  font-size: 1.2em;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 0;
  margin: 15px auto;
  justify-content: center;
}
.pricingcardprom {
  transform: translateY(-20px);
}
/*Smartphones */
@media only screen and (max-device-width: 767px) {
  .pricingcardprom {
    transform: scale(1.1);
    border: 2px solid gold;
    z-index: 3;
  }
}
.prom {
  position: absolute;
  padding: 12px;
  border-radius: 0 10px;
  background-color: dodgerblue;
  font-size: 0.9em;
  color: white;
  top: 0;
  right: 0;
}
/*======FOOTER=====*/
footer {
  color: rgb(88, 85, 85);
  margin: auto;
  background-color: black;
  height: auto;
  text-align: center;
  justify-content: center;
}
.footersocials {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 20px;
}
ul.footersocials > li {
  display: flex;
  list-style: none;
  color: rgb(88, 85, 85);
}
ul.footersocials > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: 2px solid rgb(88, 85, 85);
  border-radius: 50%;
}
ul.footersocials > li > a > i {
  color: rgb(88, 85, 85);
}
.legal {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
}
/*Smartphones */
@media only screen and (max-device-width: 767px) {
  .legal {
    width: 100%;
    gap: 5px;
  }
}
.legal > li a {
  color: rgb(88, 85, 85);
  font-size: 1em;
}
